<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AssociationInterface</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>tp6.myservlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>errorPage</servlet-name>
    <servlet-class>tp6.myservlets.ErrorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>articleServlet</servlet-name>
    <servlet-class>tp6.myservlets.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deconnexionServlet</servlet-name>
    <servlet-class>tp6.myservlets.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>articleProfile</servlet-name>
    <servlet-class>tp6.myservlets.ArticleProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>panierServlet</servlet-name>
    <servlet-class>tp6.myservlets.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articleProfile</servlet-name>
    <url-pattern>/articleProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deconnexionServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>articleServlet</servlet-name>
    <url-pattern>/article</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>panierServlet</servlet-name>
    <url-pattern>/panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>errorPage</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
</web-app>